<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    In Account
    <%if Helper.is_logged_in?(session)%>
      <h2><%=Helper.current_user.username%></h2>
      <h3><%=Helper.current_user.balance%></h3>
    <%else%>
      <a href='/'>Click Here To Log In</a>
    <%end%>
    
    <a href='/logout'>Log Out</a>

  </body>
</html>